.entete{
	background-image: url(001.jpg);
	;
	text-align: center;
}
ul {
	display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

li {
  
  padding-left: 150px;
}

li a {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: orange;
}


}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}


h1{
	background-color: darkslateblue;
	color:white;
	width:80px;
	text-align: center;
	font-size: 60px;
	border-radius: 10px;
	margin-left: 630px;
	font-family: lato;
}
h2{
	text-align: center;
	font-family: lato;
}
p{
	text-align: center;
	font-family: lato
}
input{
	border-radius: 5px;
	width: 30%;
	height:30px;
	margin:5px;
	padding: 5px;

}
.valider{
	height: 10px;
	padding: 15px;
	color: white;
	text-align: center;



}
input:hover{
	background-color: blue;
}
.bas{
	margin: 30px;
	padding: 10px;
	text-align: center;
	color:grey;

}
.formulaire{
	margin: 5px;
	padding: 0px;
	text-align: center;

}
a{
	text-decoration: none;
}


}
.checkbox{
	display: none;
}
.menu{
	width: 100%;
	background-color: slateblue;
	text-align: center;
}
.bloc1{

	float: left;
	im
